.header{
    background-color: #4b569b;
    width: 100%;
    min-height: 4.5rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 1.5%;
    
    img {
        height: 2.5rem;
        vertical-align: middle;
        margin-right: 15px;
    }
    display: flex;
    align-items: center;
    
    
}
.logoText{
    font-size: 1.2rem;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    span{
        color: #08fb86;
        margin-right: 5px;
    }
}
.container{
    display: flex;
    align-items: center;
}
.notification{

}
.userSection{

}
.logout{
    margin-right: 3px;
    cursor: pointer;
}

